.up-transition {
	animation: up 1s ease;
}

.down-transition {
	animation: down 1s ease;
}

@keyframes up {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes vibrate {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(2px, -2px);
	}
	60% {
		transform: translate(-2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0, 0);
	}
}
