.up-transition {
	animation: up 1s ease;
}

.down-transition {
	animation: down 1s ease;
}

@keyframes up {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}
