.up-transition {
	animation: up 1s ease;
}

.down-transition {
	animation: down 1s ease;
}

@keyframes up {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes vibrate {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(2px, -2px);
	}
	60% {
		transform: translate(-2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.game-status {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 300px;
	padding: 15px;
	background-color: #f2f4f8; /* Light greyish-blue background */
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}
